---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import MarkdownSlide from "../../components/MarkdownSlide.astro";

export async function getStaticPaths() {
  const lecturesEntries = await getCollection("lectures");
  return lecturesEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
---

<Layout title={entry.title}>
  <main class="reveal">
    <div class="slides">
      <MarkdownSlide content={entry.body} animate={false}/>
    </div>
  </main>
</Layout>

<style lang="css">
  :root {
    --r-inline-code-color: #e5e5e5;
    --r-heading-color: rgb(168 85 247);
  }

  .inline-code {
    color: var(--r-inline-code-color);
  }
  .heading {
    color: var(--r-heading-color);
  }
</style>
