---
import Section from "./Section.astro";
const posts = await Astro.glob("../pages/post/*.md").then((it) => it.filter((post) => !post.frontmatter.draft))
const visible = posts.length > 0

---

<Section>
    <h2 class="text-2xl">Posts</h2>
    { visible ? <ul class="mt-4">
      {posts.map((post) => <li class="flex flex-wrap items-center gap-x-2">
        <time {new Date(post.frontmatter.date).toISOString()} class="min-w-[120px] text-gray-500">{post.frontmatter.date}</time>
        
        <a href={post.url} class="inline-block cactus-link line-clamp-1 hover:underline">{post.frontmatter.title}</a>
        
        </li>)}
    </ul>
    : <p class="mt-4 text-gray-500">Coming Soon!</p>
    }
</Section>
