---
import Section from "../components/Section.astro";
import SocialBtn from "./SocialBtn.astro";
---

<Section>
    <div
            class="flex flex-col items-center md:flex-row md:justify-between md:gap-x-12 lg:gap-x-24 max-w-2xl"
    >
        <div>
            <h1 class="text-2xl font-bold">
                <>Bonjour,</>
            </h1>
            <p class="mt-6 text-l leading-7">
                My name is Vincent, <em>aka vinsg</em>. I love building user interfaces and everything related to them. 
                I take a lot of notes in Obsidian, ride a motorcycle and play horror games in my spare time. I speak English and French fluently.
            </p>
            <p class="mt-6 text-l leading-7">
                I currently work as an Android Developer for a Montréal-based startup.
            </p>
            <p class="mt-6 text-l leading-7">
                Feel free to take a look around my blog and contact me.
            </p>
            <div class="flex flex-row shrink-0 flex-wrap gap-6 pt-6 pb-0">
                <SocialBtn link="https://github.com/vinsg" text="GitHub" name="ion:logo-github"/>
                <SocialBtn link="https://x.com/vinsg_" text="X" name="ion:logo-x"/>
                <SocialBtn link="https://linkedin.com/in/vincent-salamanca-gagnon-1a039ba1" text="Linkedin"
                           name="ion:logo-linkedin"/>
                <SocialBtn link="mailto:contact@vinsg.ca" text="Email" name="ion:email"/>
            </div>
        </div>
    </div>
</Section>