---
import { getCollection } from "astro:content";
import Section from "./Section.astro";
const lectures = await getCollection("lectures").then((it) => it.filter((lecture) => !lecture.data.draft))
const visible = lectures.length > 0

---

<Section>
    <h2 class="text-2xl">Lectures</h2>
    { visible ? <ul class="mt-4">
      {lectures.map((lecture) => <li class="flex flex-wrap items-center gap-x-2">
        <time {new Date(lecture.data.date.toDateString())} class="min-w-[120px] text-gray-500">{lecture.data.date.toDateString()}</time>
        
        <a href={"/lectures/" + lecture.slug} class="inline-block cactus-link line-clamp-1 hover:underline">[SLIDES] {lecture.data.title}</a>
        
        </li>)}
    </ul>
    : <p class="mt-4 text-gray-200">Coming Soon!</p>
    }
</Section>
