---
interface Props {
  animate?: boolean;
  content: String;
}

const { animate = true , content} = Astro.props;
---

<section data-markdown data-separator-vertical="^--" data-auto-animate={animate}>
  <textarea data-template>
    {content}
  </textarea>
</section>
