---
import Section from "./Section.astro";
---

<Section>
  <div
    class="flex flex-col gap-y-3 sm:flex-row sm:items-center sm:justify-between"
  >
    <a href="/">Vincent's blog</a>

    <nav>
      <ul class="flex gap-x-3 font-medium text-gray-200">
        <li><a class="hover:underline" href="https://github.com/vinsg">GitHub</a></li>
        <li><a class="hover:underline" href="https://twitter.com/vinsg_">Twitter</a></li>
      </ul>
    </nav>
  </div>
</Section>
