---
import { Icon } from "astro-icon/components";
import Section from "./Section.astro";
import LanguageSwitcher from "./LanguageSwitcher.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const basePath = lang === 'en' ? '' : `/${lang}`;
console.log(import.meta.env.SITE);

---

<Section>
    <nav>
      <ul class="flex flex-row gap-y-3 my-2 flex-wrap items-center gap-x-5 font-medium text-gray-200">
        <li class="grow">
          <a href={basePath || "/"}> ◣</a>
        </li>
        <li>
          <LanguageSwitcher />
        </li>
        <li>
          <a class="hover:underline hover:text-purple-400" href={`${basePath}/posts/uses`}
            >{t('nav.uses')}</a>
        </li>
        <li>
          <a href="https://github.com/vinsg"
            ><Icon
              name={"ion:logo-github"}
              class="fill-white h-6 w-6 hover:text-purple-400"
            /></a>
        </li>
        <li>
          <a href="mailto:contact@vinsg.ca"
            ><Icon
              name={"ion:email"}
              class="fill-white h-6 w-6 hover:text-purple-400"
            /></a>
        </li>
        <li>
          <a href="https://x.com/vinsg_"
            ><Icon
              name={"ion:logo-x"}
              class="fill-white h-5 w-5 hover:text-purple-400"
            /></a>
        </li>
        <li>
          <a href="https://bsky.app/profile/vinsg.ca"
            ><Icon
              name={"ri:bluesky-fill"}
              class="fill-white h-6 w-6 hover:text-purple-400"
            /></a>
        </li>
        <li>
          <a href={new URL("rss.xml", Astro.site)}
            ><Icon
              name={"ion:logo-rss"}
              class="fill-white h-6 w-6 hover:text-purple-400"
            /></a>
        </li>
      </ul>
    </nav>
</Section>
