---
import { Icon } from "astro-icon/components";
import Section from "./Section.astro";
---

<Section>
  <div
    class="flex flex-col gap-y-3 sm:flex-row sm:items-center sm:justify-between"
  >
    <a href="/">◣</a>

    <nav>
      <ul class="flex flex-row justify-center items-center gap-x-5 font-medium text-gray-200">
        <li>
          <a class="hover:underline hover:text-purple-400" href="/posts/uses"
            >Uses</a>
        </li>
        <li>
          <a href="https://github.com/vinsg"
            ><Icon
              name={"ion:logo-github"}
              class="fill-white h-6 w-6 hover:text-purple-400"
            /></a>
        </li>
        <li>
          <a href="mailto:contact@vinsg.ca"
            ><Icon
              name={"ion:email"}
              class="fill-white h-6 w-6 hover:text-purple-400"
            /></a>
        </li>
        <li>
          <a href="https://x.com/vinsg_"
            ><Icon
              name={"ion:logo-x"}
              class="fill-white h-5 w-5 hover:text-purple-400"
            /></a>
        </li>
        <li>
          <a href={new URL("rss.xml", Astro.site)}
            ><Icon
              name={"ion:logo-rss"}
              class="fill-white h-6 w-6 hover:text-purple-400"
            /></a>
        </li>
      </ul>
    </nav>
  </div>
</Section>
