---
---

<header class="mx-auto max-w-2xl px-4 py-6">
  <nav class="flex items-center gap-x-6">
    <a href="/" class="flex items-center gap-x-2 font-semibold text-gray-100 no-underline">
      <span class="text-xl">◣</span>
      <span>vinsg</span>
    </a>
    <span class="text-gray-600">|</span>
    <a href="/" class="text-gray-400 hover:text-gray-100 text-sm">Home</a>
    <a href="/posts/uses" class="text-gray-400 hover:text-gray-100 text-sm">Uses</a>
    <a href="https://github.com/vinsg" class="text-gray-400 hover:text-gray-100 text-sm">GitHub</a>
    <a href="/rss.xml" class="text-gray-400 hover:text-gray-100 text-sm">RSS</a>
  </nav>
</header>
