---
import Section from "./Section.astro";

---

<Section>
    <h2 class="text-2xl">Projects</h2>
    <ul class="mt-4">
      <li class="flex flex-wrap items-center gap-x-2">
        
        <p>edit-owners a cli tool to manage GitHub CODEOWNERS files</p>
        <!-- <a href="" class="inline-block cactus-link line-clamp-1 hover:underline"></a> -->
        
        </li>
    </ul>
    
</Section>
