---
import BaseHead from '@components/BaseHead.astro';
import NavBar from '../components/NavBar.astro';

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<meta property="og:image" content="/assets/og/image.svg" />
		<meta property="og:image:width" content="1200" />
  		<meta property="og:image:height" content="630" />
	</head>
	<body class='bg-slate-900 text-gray-100'>
		<NavBar />
		<slot></slot>
	</body>
</html>