---
import BaseHead from '@components/BaseHead.astro';
import NavBar from '../components/NavBar.astro';
import { getLangFromUrl } from '../i18n/utils';

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props as Props;
const lang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class='bg-slate-900 text-gray-100'>
		<NavBar />
		<slot></slot>
	</body>
</html>